In [123]:
%run ../src/parsing/preset.py

In [3]:
main_df = pd.read_parquet("../data/feature_data.gzip")
new_df = pd.read_parquet("../data/new_data.gzip")

In [8]:
main_df.head(3)

,actual_consumption,time_dummie,year,month,day_of_month,hour,day_of_week,day_of_year,week_of_year,quarter,...,Тульская область,Тюменская область,Удмуртская Республика,Ульяновская область,Центральный энергорайон Якутии,Челябинская область,Чеченская Республика,Чувашская Республика - Чувашия,Южно-Якутский энергорайон,Ярославская область
0,1302.0,8783,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,0
1,1091.0,8783,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,0
2,946.0,8783,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,0

In [27]:
main_df[main_df["Тульская область"] == 1].loc[:, ["actual_consumption", "lag_hour"]].iloc[76796:]

         actual_consumption  lag_hour
5611785              1205.0    1222.0
5611860              1211.0    1205.0
5611935              1221.0    1211.0
5612009              1193.0     758.0
5612084              1145.0     735.0
...                     ...       ...
5646958              1081.0     900.0
5647033              1146.0     927.0
5647108              1190.0     988.0
5647183              1205.0    1009.0
5647258              1218.0    1205.0

[474 rows x 2 columns]

In [ ]:
main_df.sort_index(axis=1, inplace=True)

In [ ]:
main_df[main_df["Ярославская область"] == 1].iloc[:, :15]

In [ ]:
new_df.tail(3)

In [ ]:
new_df = new_df[main_cols]

In [ ]:
new_df.rename(columns={'Datetime': 'datetime', 'IBR_ActualConsumption': 'actual_consumption', 'Name': 'subject_name'}, inplace=True)

In [ ]:
new_df.sort_index(axis=1, inplace=True)

In [ ]:
new_df["datetime"] = pd.to_datetime(new_df["datetime"])

In [ ]:
new_df["actual_consumption"] = new_df["actual_consumption"].apply(prep_target)

In [ ]:
new_df.sort_values(by=["datetime", "subject_name"], inplace=True)

In [ ]:
new_df

In [ ]:
new_df.dropna(inplace=True)
new_df.drop_duplicates(inplace=True)

In [ ]:
new_df.reset_index(drop=True, inplace=True)

In [ ]:
new_df

In [ ]:
new_df["datetime"] = new_df["datetime"].astype(str)
new_df = create_time_step_features(new_df, max(main_df["time_dummie"]))  # Check function
new_df = pd.concat([new_df, pd.get_dummies(new_df["subject_name"], columns=uniq_subjs)], axis=1)

In [ ]:
new_df.tail(2)

In [ ]:
df_rows_count = new_df.shape[0]

In [ ]:
new_df.sort_index(axis=1, inplace=True)

In [ ]:
new_df.tail(3)

In [ ]:
new_df["subject_name"] = decoding(new_df[uniq_subjs])

In [ ]:
main_df["subject_name"] = decoding(main_df[uniq_subjs])

In [ ]:
main_df.drop(columns=["lag_hour", "lag_day", "lag_week", "lag_month", "lag_year"], inplace=True);

In [ ]:
new_df.drop(columns=["datetime"], inplace=True);

In [ ]:
main_df.sort_index(axis=1, inplace=True)
new_df.sort_index(axis=1, inplace=True)

In [ ]:
lag_df = pd.concat([main_df, new_df], axis=0, ignore_index=True)

In [ ]:
new_df["lag_hour"] = create_lag_feature(lag_df, time_steps["hour"], lag_column="actual_consumption", size=df_rows_count)
new_df["lag_day"] = create_lag_feature(lag_df, time_steps["day"], lag_column="actual_consumption", size=df_rows_count)
new_df["lag_week"] = create_lag_feature(lag_df, time_steps["week"], lag_column="actual_consumption", size=df_rows_count)
new_df["lag_month"] = create_lag_feature(lag_df, time_steps["month"], lag_column="actual_consumption", size=df_rows_count)
new_df["lag_year"] = create_lag_feature(lag_df, time_steps["year"], lag_column="actual_consumption", size=df_rows_count)

In [ ]:
new_df.tail(3)

In [ ]:
new_df.sort_index(axis=1, inplace=True)
main_df.sort_index(axis=1, inplace=True)

In [ ]:
zxc = pd.read_parquet("../data/feature_data.gzip")

In [ ]:
zxc.sort_index(axis=1, inplace=True)

In [ ]:
zxc.columns[:20]

In [ ]:
new_df.drop(columns=["subject_name"], inplace=True)

In [ ]:
new_df.sort_index(axis=1, inplace=True)
new_df.columns[:20]

In [ ]:
# def take_peak_hour(df):
#     for i in df["actual_consumption"]:
#         curr_row = df.iloc[i]
#         curr_df = df.[df[""]]
#         curr_df = df[df[]]

In [ ]:
feature_df = pd.concat([main_df, new_df], axis=0)

In [ ]:
feature_df.reset_index(inplace=True, drop=True)

In [28]:
global_df = pd.read_parquet("../data/feature_data.gzip")

In [29]:
feature_df = pd.concat([global_df, new_df], axis=0, ignore_index=True)

In [ ]:
feature_df

In [ ]:
feature_df.to_parquet("../data/feature_data.gzip")

In [41]:
main_df = pd.read_parquet("../data/feature_data.gzip")

In [42]:
main_df.columns

Index(['actual_consumption', 'time_dummie', 'year', 'month', 'day_of_month',
       'hour', 'day_of_week', 'day_of_year', 'week_of_year', 'quarter',
       'holiday', 'lag_hour', 'lag_day', 'lag_week', 'lag_month', 'lag_year',
       'Алтайский край', 'Амурская область', 'Архангельская область',
       'Астраханская область', 'Белгородская область', 'Брянская область',
       'Владимирская область', 'Волгоградская область', 'Вологодская область',
       'Воронежская область', 'Еврейская автономная область',
       'Забайкальский край', 'Западный энергорайон Якутии',
       'Ивановская область', 'Иркутская область',
       'Кабардино-Балкарская Республика', 'Калининградская область',
       'Калужская область', 'Карачаево-Черкесская Республика',
       'Кемеровская область - Кузбасс', 'Кировская область',
       'Костромская область', 'Краснодарский край', 'Красноярский край',
       'Курганская область', 'Курская область', 'Ленинградская область',
       'Липецкая область', 'Московская область', 'Мурманская область',
       'Нижегородская область', 'Новгородская область',
       'Новосибирская область', 'ОЭР Хабаровского края', 'Омская область',
       'Оренбургская область', 'Орловская область', 'Пензенская область',
       'Пермский край', 'Приморский край', 'Псковская область',
       'Республика Башкортостан', 'Республика Бурятия', 'Республика Дагестан',
       'Республика Ингушетия', 'Республика Калмыкия', 'Республика Карелия',
       'Республика Коми', 'Республика Крым', 'Республика Марий Эл',
       'Республика Мордовия', 'Республика Северная Осетия-Алания',
       'Республика Татарстан (Татарстан)', 'Республика Тыва',
       'Республика Хакасия', 'Ростовская область', 'Рязанская область',
       'Самарская область', 'Саратовская область', 'Свердловская область',
       'Смоленская область', 'Ставропольский край', 'Тамбовская область',
       'Тверская область', 'Томская область', 'Тульская область',
       'Тюменская область', 'Удмуртская Республика', 'Ульяновская область',
       'Центральный энергорайон Якутии', 'Челябинская область',
       'Чеченская Республика', 'Чувашская Республика - Чувашия',
       'Южно-Якутский энергорайон', 'Ярославская область'],
      dtype='object')

In [43]:
main_df["subject_name"] = decoding(main_df[uniq_subjs])

In [47]:
main_df["lag_hour"] = create_lag_feature(main_df, 
                                         time_steps["hour"],
                                         lag_column="actual_consumption",
                                         size=main_df.shape[0])
main_df["lag_day"] = create_lag_feature(main_df, 
                                         time_steps["day"],
                                         lag_column="actual_consumption",
                                         size=main_df.shape[0])
main_df["lag_week"] = create_lag_feature(main_df, 
                                         time_steps["week"],
                                         lag_column="actual_consumption",
                                         size=main_df.shape[0])
main_df["lag_month"] = create_lag_feature(main_df, 
                                         time_steps["month"],
                                         lag_column="actual_consumption",
                                         size=main_df.shape[0])
main_df["lag_year"] = create_lag_feature(main_df, 
                                         time_steps["year"],
                                         lag_column="actual_consumption",
                                         size=main_df.shape[0])

In [57]:
main_df["time_dummie"] = create_time_dummie_feature(main_df)

In [64]:
main_df.iloc[:, :]

,actual_consumption,time_dummie,year,month,day_of_month,hour,day_of_week,day_of_year,week_of_year,quarter,...,Тюменская область,Удмуртская Республика,Ульяновская область,Центральный энергорайон Якутии,Челябинская область,Чеченская Республика,Чувашская Республика - Чувашия,Южно-Якутский энергорайон,Ярославская область,subject_name
0,1302.0,1,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,Алтайский край
1,1091.0,1,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,Амурская область
2,946.0,1,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,Архангельская область
3,615.0,1,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,Астраханская область
4,1679.0,1,2012,2,20,0,1,51,8,3,...,0,0,0,0,0,0,0,0,0,Белгородская область
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5647263,4251.0,77268,2024,8,18,11,7,231,33,3,...,0,0,0,0,1,0,0,0,0,Челябинская область
5647264,439.0,77264,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,1,0,0,0,Чеченская Республика
5647265,529.0,77271,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,0,1,0,0,Чувашская Республика - Чувашия
5647266,366.0,77267,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,0,0,1,0,Южно-Якутский энергорайон
5647267,850.0,77270,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,0,0,0,1,Ярославская область

In [66]:
main_df.drop(columns=["subject_name"], inplace=True)

In [67]:
main_df.shape

(5647268, 91)

In [69]:
main_df.head(3).iloc[:, :15]

,actual_consumption,time_dummie,year,month,day_of_month,hour,day_of_week,day_of_year,week_of_year,quarter,holiday,lag_hour,lag_day,lag_week,lag_month
0,1302.0,1,2012,2,20,0,1,51,8,3,0,NaN,NaN,NaN,NaN
1,1091.0,1,2012,2,20,0,1,51,8,3,0,NaN,NaN,NaN,NaN
2,946.0,1,2012,2,20,0,1,51,8,3,0,NaN,NaN,NaN,NaN

In [72]:
zxc = pd.read_parquet("../data/data.gzip")

In [75]:
zxc

,subject_name,actual_consumption,datetime
index,,,
2011-01-01 00:00:00,Алтайский край,1313.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Амурская область,870.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Архангельская область,970.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Астраханская область,504.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Белгородская область,1592.0,2011-01-01 00:00:00
...,...,...,...
2024-07-17 00:00:00,Челябинская область,3854.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Чеченская Республика,412.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Чувашская Республика - Чувашия,486.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Южно-Якутский энергорайон,358.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Ярославская область,766.0,2024-07-17 00:00:00

In [76]:
zxc.dropna()

,subject_name,actual_consumption,datetime
index,,,
2011-01-01 00:00:00,Алтайский край,1313.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Амурская область,870.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Архангельская область,970.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Астраханская область,504.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Белгородская область,1592.0,2011-01-01 00:00:00
...,...,...,...
2024-07-17 00:00:00,Челябинская область,3854.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Чеченская Республика,412.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Чувашская Республика - Чувашия,486.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Южно-Якутский энергорайон,358.0,2024-07-17 00:00:00
2024-07-17 00:00:00,Ярославская область,766.0,2024-07-17 00:00:00

In [77]:
new_df = pd.read_parquet("../data/new_data.gzip")

In [80]:
new_df

,$id,Id,Name,ParentPowerSystemId,PowerSystemId,SubjectId,Disabled,SvgPaths,Top,Bottom,...,IBR_PlannedConsumption,IBR_ActualConsumption,IBR_PlannedGeneration,IBR_ActualGeneration,IBR_AveragePrice,VSVGO_AveragePrice,VSVGO_Consumption,Selected,InfoCoordinates,Datetime
0,21,530000_14,Белгородская область,530000,530000,14,False,[M0 0 M24 237 L25 236 L24 235 L23 233 L22 234 ...,233,292,...,1 602 МВт*ч,1 715 МВт*ч,54 МВт*ч,54 МВт*ч,1 461 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-07-17 01:00:00
1,22,530000_15,Брянская область,530000,530000,15,False,[M0 0 M53 154 L52 153 L53 152 L53 152 L53 151 ...,147,205,...,371 МВт*ч,400 МВт*ч,-,-,1 436 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-07-17 01:00:00
2,23,530000_17,Владимирская область,530000,530000,17,False,[M0 0 M169 141 L167 141 L165 142 L164 140 L163...,123,184,...,717 МВт*ч,716 МВт*ч,262 МВт*ч,262 МВт*ч,1 409 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-07-17 01:00:00
3,24,530000_19,Вологодская область,530000,530000,19,False,[M0 0 M256 54 L252 54 L247 50 L248 48 L242 46 ...,0,113,...,1 354 МВт*ч,1 365 МВт*ч,1 132 МВт*ч,1 142 МВт*ч,1 307 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-07-17 01:00:00
4,25,530000_20,Воронежская область,530000,530000,20,False,[M0 0 M103 253 L102 252 L101 251 L100 250 L99 ...,234,309,...,1 354 МВт*ч,1 357 МВт*ч,3 133 МВт*ч,3 156 МВт*ч,1 490 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-07-17 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58420,15,840000_47,Мурманская область,840000,840000,47,False,[M0 0 M222 17 L219 16 L218 16 L218 17 L216 17 ...,0,74,...,1 152 МВт*ч,1 123 МВт*ч,1 900 МВт*ч,1 890 МВт*ч,1 463 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-08-18 11:00:00
58421,16,840000_49,Новгородская область,840000,840000,49,False,[M0 0 M100 135 L99 135 L98 136 L97 135 L97 135...,130,162,...,506 МВт*ч,508 МВт*ч,243 МВт*ч,257 МВт*ч,1 966 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-08-18 11:00:00
58422,17,840000_58,Псковская область,840000,840000,58,False,[M0 0 M93 117 L90 118 L90 118 L89 118 L89 118 ...,117,176,...,275 МВт*ч,266 МВт*ч,-,-,2 062 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-08-18 11:00:00
58423,18,840000_86,Республика Карелия,840000,840000,86,False,[M0 0 M141 90 L140 90 L140 90 L140 90 L139 90 ...,31,127,...,938 МВт*ч,922 МВт*ч,588 МВт*ч,590 МВт*ч,1 734 руб./МВт*ч,-,-,False,"{'X': 0, 'Y': 0}",2024-08-18 11:00:00
58424,19,840000_87,Республика Коми,840000,840000,87,False,[M0 0 M298 98 L292 101 L273 103 L269 112 L268 ...,98,200,...,875 МВт*ч,834 МВт*ч,967 МВт*ч,939 МВт*ч,-,-,-,False,"{'X': 0, 'Y': 0}",2024-08-18 11:00:00

In [81]:
new_df = new_df[main_cols]

In [82]:
new_df.rename(columns={'Datetime': 'datetime', 'IBR_ActualConsumption': 'actual_consumption', 'Name': 'subject_name'}, inplace=True)

In [86]:
new_df["datetime"] = pd.to_datetime(new_df["datetime"])

In [87]:
new_df["actual_consumption"] = new_df["actual_consumption"].apply(prep_target)

In [88]:
zxc.head(3)

,subject_name,actual_consumption,datetime
index,,,
2011-01-01 00:00:00,Алтайский край,1313.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Амурская область,870.0,2011-01-01 00:00:00
2011-01-01 00:00:00,Архангельская область,970.0,2011-01-01 00:00:00

In [89]:
new_df.head(3)

   actual_consumption          subject_name            datetime
0              1715.0  Белгородская область 2024-07-17 01:00:00
1               400.0      Брянская область 2024-07-17 01:00:00
2               716.0  Владимирская область 2024-07-17 01:00:00

In [90]:
zxc.sort_index(axis=1, inplace=True)
new_df.sort_index(axis=1, inplace=True)

In [95]:
zxc.reset_index(inplace=True, drop=True)

In [101]:
new_df.sort_values(by=["datetime", "subject_name"]).head(3)

    actual_consumption            datetime           subject_name
47               952.0 2024-07-17 01:00:00         Алтайский край
18              1054.0 2024-07-17 01:00:00       Амурская область
67               596.0 2024-07-17 01:00:00  Архангельская область

In [97]:
zxc.head(3)

,index,actual_consumption,datetime,subject_name
0,2011-01-01 00:00:00,1313.0,2011-01-01 00:00:00,Алтайский край
1,2011-01-01 00:00:00,870.0,2011-01-01 00:00:00,Амурская область
2,2011-01-01 00:00:00,970.0,2011-01-01 00:00:00,Архангельская область

In [99]:
zxc.drop(columns=["index"]).head(3)

   actual_consumption             datetime           subject_name
0              1313.0  2011-01-01 00:00:00         Алтайский край
1               870.0  2011-01-01 00:00:00       Амурская область
2               970.0  2011-01-01 00:00:00  Архангельская область

In [106]:
zxc.drop(columns=["index"], inplace=True)

In [113]:
main_df = pd.concat([zxc, new_df], axis=0, ignore_index=True)

In [114]:
main_df

         actual_consumption             datetime           subject_name
0                    1313.0  2011-01-01 00:00:00         Алтайский край
1                     870.0  2011-01-01 00:00:00       Амурская область
2                     970.0  2011-01-01 00:00:00  Архангельская область
3                     504.0  2011-01-01 00:00:00   Астраханская область
4                    1592.0  2011-01-01 00:00:00   Белгородская область
...                     ...                  ...                    ...
8536869              1123.0  2024-08-18 11:00:00     Мурманская область
8536870               508.0  2024-08-18 11:00:00   Новгородская область
8536871               266.0  2024-08-18 11:00:00      Псковская область
8536872               922.0  2024-08-18 11:00:00     Республика Карелия
8536873               834.0  2024-08-18 11:00:00        Республика Коми

[8536874 rows x 3 columns]

In [116]:
main_df["datetime"] = main_df["datetime"].astype(str)

In [117]:
main_df.sort_values(by=["datetime", "subject_name"], inplace=True)

In [118]:
main_df

,actual_consumption,datetime,subject_name
0,1313.0,2011-01-01 00:00:00,Алтайский край
1,870.0,2011-01-01 00:00:00,Амурская область
2,970.0,2011-01-01 00:00:00,Архангельская область
3,504.0,2011-01-01 00:00:00,Астраханская область
4,1592.0,2011-01-01 00:00:00,Белгородская область
...,...,...,...
8536863,4251.0,2024-08-18 11:00:00,Челябинская область
8536836,439.0,2024-08-18 11:00:00,Чеченская Республика
8536845,529.0,2024-08-18 11:00:00,Чувашская Республика - Чувашия
8536822,366.0,2024-08-18 11:00:00,Южно-Якутский энергорайон
8536816,850.0,2024-08-18 11:00:00,Ярославская область

In [119]:
main_df.dropna(inplace=True)
main_df.drop_duplicates(inplace=True)

In [121]:
main_df.reset_index(inplace=True, drop=True)

In [122]:
main_df

,actual_consumption,datetime,subject_name
0,1313.0,2011-01-01 00:00:00,Алтайский край
1,870.0,2011-01-01 00:00:00,Амурская область
2,970.0,2011-01-01 00:00:00,Архангельская область
3,504.0,2011-01-01 00:00:00,Астраханская область
4,1592.0,2011-01-01 00:00:00,Белгородская область
...,...,...,...
8536867,4251.0,2024-08-18 11:00:00,Челябинская область
8536868,439.0,2024-08-18 11:00:00,Чеченская Республика
8536869,529.0,2024-08-18 11:00:00,Чувашская Республика - Чувашия
8536870,366.0,2024-08-18 11:00:00,Южно-Якутский энергорайон
8536871,850.0,2024-08-18 11:00:00,Ярославская область

In [124]:
main_df = create_time_step_features(main_df)  # Check function
main_df = pd.concat([main_df, pd.get_dummies(main_df["subject_name"], columns=uniq_subjs)], axis=1)

In [125]:
main_df.drop(columns=["datetime"])

,actual_consumption,subject_name,year,month,day_of_month,hour,day_of_week,day_of_year,week_of_year,quarter,...,Тульская область,Тюменская область,Удмуртская Республика,Ульяновская область,Центральный энергорайон Якутии,Челябинская область,Чеченская Республика,Чувашская Республика - Чувашия,Южно-Якутский энергорайон,Ярославская область
0,1313.0,Алтайский край,2011,1,1,0,6,1,52,3,...,0,0,0,0,0,0,0,0,0,0
1,870.0,Амурская область,2011,1,1,0,6,1,52,3,...,0,0,0,0,0,0,0,0,0,0
2,970.0,Архангельская область,2011,1,1,0,6,1,52,3,...,0,0,0,0,0,0,0,0,0,0
3,504.0,Астраханская область,2011,1,1,0,6,1,52,3,...,0,0,0,0,0,0,0,0,0,0
4,1592.0,Белгородская область,2011,1,1,0,6,1,52,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8536867,4251.0,Челябинская область,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,1,0,0,0,0
8536868,439.0,Чеченская Республика,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,0,1,0,0,0
8536869,529.0,Чувашская Республика - Чувашия,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,0,0,1,0,0
8536870,366.0,Южно-Якутский энергорайон,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,0,0,0,1,0
8536871,850.0,Ярославская область,2024,8,18,11,7,231,33,3,...,0,0,0,0,0,0,0,0,0,1

In [126]:
main_df["lag_hour"] = create_lag_feature(main_df, time_steps["hour"], lag_column="actual_consumption", size=main_df.shape[0])
main_df["lag_day"] = create_lag_feature(main_df, time_steps["day"], lag_column="actual_consumption", size=main_df.shape[0])
main_df["lag_week"] = create_lag_feature(main_df, time_steps["week"], lag_column="actual_consumption", size=main_df.shape[0])
main_df["lag_month"] = create_lag_feature(main_df, time_steps["month"], lag_column="actual_consumption", size=main_df.shape[0])
main_df["lag_year"] = create_lag_feature(main_df, time_steps["year"], lag_column="actual_consumption", size=main_df.shape[0])

In [128]:
main_df["time_dummi"] = create_time_dummie_feature(main_df)

In [132]:
main_df.drop(columns=["datetime", "subject_name"], inplace=True)

In [134]:
main_df.dropna(inplace=True)

In [136]:
main_df.drop_duplicates(inplace=True)

In [137]:
main_df

,actual_consumption,year,month,day_of_month,hour,day_of_week,day_of_year,week_of_year,quarter,holiday,...,Чеченская Республика,Чувашская Республика - Чувашия,Южно-Якутский энергорайон,Ярославская область,lag_hour,lag_day,lag_week,lag_month,lag_year,time_dummi
627481,1601.0,2012,2,19,8,7,50,7,3,0,...,0,0,0,0,1638.0,1676.0,1695.0,1375.0,1313.0,8767
627482,1002.0,2012,2,19,8,7,50,7,3,0,...,0,0,0,0,999.0,1026.0,1121.0,1062.0,870.0,8767
627483,981.0,2012,2,19,8,7,50,7,3,0,...,0,0,0,0,952.0,1044.0,1030.0,909.0,970.0,8767
627484,658.0,2012,2,19,8,7,50,7,3,0,...,0,0,0,0,631.0,674.0,731.0,550.0,504.0,8767
627485,1738.0,2012,2,19,8,7,50,7,3,0,...,0,0,0,0,1669.0,1748.0,1896.0,1873.0,1592.0,8767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8536867,4251.0,2024,8,18,11,7,231,33,3,0,...,0,0,0,0,4179.0,4186.0,4120.0,3910.0,4377.0,116582
8536868,439.0,2024,8,18,11,7,231,33,3,0,...,1,0,0,0,422.0,462.0,550.0,360.0,528.0,116576
8536869,529.0,2024,8,18,11,7,231,33,3,0,...,0,1,0,0,537.0,616.0,520.0,465.0,657.0,116585
8536870,366.0,2024,8,18,11,7,231,33,3,0,...,0,0,1,0,366.0,354.0,363.0,345.0,325.0,116580
8536871,850.0,2024,8,18,11,7,231,33,3,0,...,0,0,0,1,864.0,925.0,861.0,714.0,977.0,116583

In [141]:
main_df["subject_name"] = decoding(main_df[uniq_subjs])

In [142]:
main_df["time_dummie"] = create_time_dummie_feature(main_df)

In [143]:
main_df.drop(columns=["subject_name"], inplace=True)

In [146]:
main_df.drop(["time_dummie"], axis=1, inplace=True)

In [151]:
main_df.drop(["time_dummi"], axis=1, inplace=True)

In [156]:
main_df["subject_name"] = decoding(main_df[uniq_subjs])

In [161]:
main_df.columns

Index(['actual_consumption', 'day_of_month', 'day_of_week', 'day_of_year',
       'holiday', 'hour', 'lag_day', 'lag_hour', 'lag_month', 'lag_week',
       'lag_year', 'month', 'quarter', 'week_of_year', 'year',
       'Алтайский край', 'Амурская область', 'Архангельская область',
       'Астраханская область', 'Белгородская область', 'Брянская область',
       'Владимирская область', 'Волгоградская область', 'Вологодская область',
       'Воронежская область', 'Еврейская автономная область',
       'Забайкальский край', 'Западный энергорайон Якутии',
       'Ивановская область', 'Иркутская область',
       'Кабардино-Балкарская Республика', 'Калининградская область',
       'Калужская область', 'Карачаево-Черкесская Республика',
       'Кемеровская область - Кузбасс', 'Кировская область',
       'Костромская область', 'Краснодарский край', 'Красноярский край',
       'Курганская область', 'Курская область', 'Ленинградская область',
       'Липецкая область', 'Московская область', 'Мурманская область',
       'Нижегородская область', 'Новгородская область',
       'Новосибирская область', 'ОЭР Хабаровского края', 'Омская область',
       'Оренбургская область', 'Орловская область', 'Пензенская область',
       'Пермский край', 'Приморский край', 'Псковская область',
       'Республика Башкортостан', 'Республика Бурятия', 'Республика Дагестан',
       'Республика Ингушетия', 'Республика Калмыкия', 'Республика Карелия',
       'Республика Коми', 'Республика Крым', 'Республика Марий Эл',
       'Республика Мордовия', 'Республика Северная Осетия-Алания',
       'Республика Татарстан (Татарстан)', 'Республика Тыва',
       'Республика Хакасия', 'Ростовская область', 'Рязанская область',
       'Самарская область', 'Саратовская область', 'Свердловская область',
       'Смоленская область', 'Ставропольский край', 'Тамбовская область',
       'Тверская область', 'Томская область', 'Тульская область',
       'Тюменская область', 'Удмуртская Республика', 'Ульяновская область',
       'Центральный энергорайон Якутии', 'Челябинская область',
       'Чеченская Республика', 'Чувашская Республика - Чувашия',
       'Южно-Якутский энергорайон', 'Ярославская область', 'subject_name'],
      dtype='object')

In [163]:
main_df.drop(columns=["subject_name"])

,actual_consumption,day_of_month,day_of_week,day_of_year,holiday,hour,lag_day,lag_hour,lag_month,lag_week,...,Тульская область,Тюменская область,Удмуртская Республика,Ульяновская область,Центральный энергорайон Якутии,Челябинская область,Чеченская Республика,Чувашская Республика - Чувашия,Южно-Якутский энергорайон,Ярославская область
627481,1601.0,19,7,50,0,8,1676.0,1638.0,1375.0,1695.0,...,0,0,0,0,0,0,0,0,0,0
627482,1002.0,19,7,50,0,8,1026.0,999.0,1062.0,1121.0,...,0,0,0,0,0,0,0,0,0,0
627483,981.0,19,7,50,0,8,1044.0,952.0,909.0,1030.0,...,0,0,0,0,0,0,0,0,0,0
627484,658.0,19,7,50,0,8,674.0,631.0,550.0,731.0,...,0,0,0,0,0,0,0,0,0,0
627485,1738.0,19,7,50,0,8,1748.0,1669.0,1873.0,1896.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8536867,4251.0,18,7,231,0,11,4186.0,4179.0,3910.0,4120.0,...,0,0,0,0,0,1,0,0,0,0
8536868,439.0,18,7,231,0,11,462.0,422.0,360.0,550.0,...,0,0,0,0,0,0,1,0,0,0
8536869,529.0,18,7,231,0,11,616.0,537.0,465.0,520.0,...,0,0,0,0,0,0,0,1,0,0
8536870,366.0,18,7,231,0,11,354.0,366.0,345.0,363.0,...,0,0,0,0,0,0,0,0,1,0
8536871,850.0,18,7,231,0,11,925.0,864.0,714.0,861.0,...,0,0,0,0,0,0,0,0,0,1

In [164]:
main_df["time_dummie"] = create_time_dummie_feature(main_df.drop(columns=["subject_name"])[uniq_subjs])

KeyError: 'subject_name'

In [ ]:
main_df.sort_index(axis=1, inplace=True)

In [ ]:
main_df.drop(columns=["subject_name"], inplace=True)

In [170]:
main_df.sort_values(by=["year", "day_of_year", "hour", "subject_name"], inplace=True)

In [172]:
main_df.sort_index(axis=1, inplace=True)

In [176]:
main_df["subject_name"] = decoding(main_df[uniq_subjs])

In [177]:
main_df["time_dummie"] = create_time_dummie_feature(main_df)

In [179]:
main_df.drop(columns=["subject_name"], inplace=True)

In [180]:
main_df.reset_index(inplace=True, drop=True)

In [187]:
model = open_model("../models/XGBoost")

In [183]:
x = main_df.drop(columns=["actual_consumption"])

In [184]:
y=main_df["actual_consumption"]

In [188]:
model.fit(x, y)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.075, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=500, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [189]:
save_model(model, "XGBoost", "../models/")